{% extends 'base.html' %}

{% load i18n %}

{% block content %}

    <h4>{% trans 'Hallo' %}</h4>
    <hr>

    <ul>
        <li>
            <a href="{% url 'restore_password' %}">{% trans 'Forgot your password?' %}</a>
        </li>
        <li>
            <a href="{% url 'remind_username' %}">{% trans 'Forgot your username?' %}</a>
        </li>
        <li>
            <a href="{% url 'resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>
        </li>
    </ul>

{% endblock %}
