{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<a href="{% url 'create_building' %}">{% trans 'Add your house' %}</a>

    <div class="header-image" id="header-block">
        <ul class="login-block mr-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'change_password' %}">{% trans 'Change password' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'change_profile' %}">{% trans 'Change profile' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'change_email' %}">{% trans 'Change email' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'log_out' %}">{% trans 'Log out' %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link login account" href="{% url 'log_in' %}">{% trans 'Log in' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link register account" href="{% url 'sign_up' %}">{% trans 'Register' %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="account-options">
        <ul>
            <li>
                <a href="{% url 'restore_password' %}">{% trans 'Forgot your password?' %}</a>
            </li>
            <li>
                <a href="{% url 'remind_username' %}">{% trans 'Forgot your username?' %}</a>
            </li>
            <li>
                <a href="{% url 'resend_activation_code' %}">{% trans 'Resend an activation code' %}</a>
            </li>
        </ul>
    </div>

{% endblock %}
